<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>This is a Development blog of Evil Genius studio. The contents of the blog are ment to give you, the reader, an idea of what we do, how we do it. It also gives you a chance to interact with us directly.</p>
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled media-link">
      <li><a href="#"><%= fa_icon "github 2x" %></a></li>
      <li><a href="#"><%= fa_icon "facebook 2x" %></a></li>
      <li><a href="#"><%= fa_icon "instagram 2x" %></a></li>
    </ol>
  </div>
</div><!-- /.blog-sidebar -->
