<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Evil Genius portfolio</h1>
    <p class="lead text-muted">This is the portfolio contining some of the projects that Evil Genius studio has created. In line with our mission we strive to make our apps beautiful, easy to use and functional. Each portfolio item contains information and images that relate to the specific project.</p>
    <p>
      <%= link_to 'About me', about_path, class: "btn btn-primary" %>
      <%= link_to 'Blog', blogs_path, class: "btn btn-secondary" %>
    </p>
  </div>
</section>
