<footer class="text-muted">
  <div class="container">
    <p class="float-left">
      <%= copyright_generator %>
    </p>
    <p class="float-right">
      <%= link_to 'Portfolios', portfolios_path %>
    </p>
  </div>
</footer>
