<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Evil Genius portfolio</h1>
    <p class="lead text-muted">This is the portfolio contining some porjects that Evil Genius studio has taken part in and wokred on. Each portfolio contains a screenshot, list of technologies and a short description of a project.</p>
    <p>
      <%= link_to 'About me', about_path, class: "btn btn-primary" %>
      <%= link_to 'Blog', blogs_path, class: "btn btn-secondary" %>
    </p>
  </div>
</section>
