<div class="inner cover">
  <h1 class="cover-heading">Welcome to Evil Genius</h1>
  <p class="lead">Evil Genius develops SAAS applications in Ruby on Rails using Ruby, HTML5, SCSS and Angular JS technologies. We offer high quality custom made applications tailored to our customers needs.</p>
  <p class="lead">
    <%= link_to "About Evil Genius", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
